body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

#categories {
    text-align: center;
    margin-top: 20px;
}

.category-btn {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
}

.category-btn:hover {
    background-color: #0056b3;
}

#image-container {
    text-align: center;
    margin-top: 50px;
}

#image-container img {
    max-width: 100%;
    height: auto;
}
