<!DOCTYPE html>
<html>
  <head>
    <title>Prompt-Quest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Game</h1>
      <div class="category-boxes">
        <form method="POST" action="/generate">
          <input type="hidden" name="category" value="car">
          <button type="submit">Car</button>
        </form>
        <form method="POST" action="/generate">
          <input type="hidden" name="category" value="place">
          <button type="submit">Place</button>
        </form>
        <form method="POST" action="/generate">
          <input type="hidden" name="category" value="food">
          <button type="submit">Food</button>
        </form>
        <form method="POST" action="/generate">
          <input type="hidden" name="category" value="animal">
          <button type="submit">Animal</button>
        </form>
      </div>
    </div>
    <footer>
      <p>&copy; Made by <span class="heart-emoji">&hearts;</span> @Mohit Bisht</p>
    </footer>
  </body>
</html>